{% extends "shared/layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}
        <h1>Bienvenue sur la boutique!</h1>
        <p class="lead text-muted">Achetez vos produit sur notre boutique en ligne</p>
    {% extends "carrousel.html.twig" %}
        <div style="clear:both"></div>
    </div>
{% endblock %}

