{% extends "layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}
<div class="container">
    <p class="test-primary">Liste des produits:</p>
</div>

{% endblock %}  

