{% extends "shared/layoutconnexion.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

    <div class="bg-light rounded px-5 py-4 mb-5 ">
        <p style="float:left"><img alt="logo" width="50%" height="50%"
                                   src="https://upload.wikimedia.org/wikipedia/commons/6/67/The_Last_of_Us_Logo_2.png"
            /></p>
        <h1>Bienvenue sur la boutique!</h1>
        <p class="lead text-muted">Achetez vos produit sur notre boutique en ligne</p>

        <div style="clear:both"></div>
    </div>
{% endblock %}