{% extends "shared/layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

    <div class="bg-light rounded px-5 py-4 mb-5 ">
        <div class="container"><h1>Bienvenue sur la boutique!</h1>
            <p class="lead text-muted">Achetez vos produit sur notre boutique en ligne</p>
        </div>
    </div>

{% endblock %}  

