<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page de connexion</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- importer le fichier de style -->
    <link rel="stylesheet" href="styles1.css" type="text/css" />
</head>

<body>
    <p><img src="logo.png"></p>
<form>
<h1>Se connecter</h1>

    <div class="inputs">
        <!--créer une interaction pour l'email et ajouter la donnée mail -->
        <input type="mail" placeholder="Email">
         <!--créer une interaction pour le password  et ajouter la donnée password -->
        <input type="password" placeholder="Password">
    </div>
     <!-- créer un texte d'inscription en l'abbriquant dans la classe incription et span permet d'entourer le texte pour change sa couleur dnas le fichier css -->
    <p class="incription"><Je n'est pas de <span> compte </span> ? Je m'en <span>crée</span> un.</p>

    <!--créer un bouton pour se connecter-->
<button type="submit">Se connecter</button>


</form>
</body>
</html>