{% extends "shared/resource/detail.html.twig" %}

{% block title %}
    Produit
{% endblock %}

{% block content %}

    <div>
        <div>
            Label : {{ entity.label }}
        </div>
        <div>
            Description : {{ entity.description }}
        </div>
        <div>
            Prix : {{ entity.price }} €
        </div>
    </div>

{% endblock %}