{% extends "shared/layout.html.twig" %}
{% block content %}
    <form action="" method="POST">

        <div class="nb-3">
            <label for="productLabel" class="form-label">Libellé</label>
            <input type="text" class="form-control" id="productLabel" name="productLabel"/>
        </div>

        <div class="nb-3">
            <label for="productDescription" class="form-label">Description</label>
            <textarea class="form-control" id="productDescription" rows="3"></textarea>
        </div>

        <div class="nb-3">
            <label for="productPrice" class="form-label">Prix</label>
            <input class="form-control" id="productPrice" type="number"/>
        </div>

        <div class="nb-3">
            <label for="productCategory" class="form-label">Catégorie</label>
            <select class="form-select" name="productCategory" id="productCategory">
                <option value="18">Carte graphique</option>
                <option value="19">Disque dur</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" name="btnAddProduct">Ajouter</button>
    </form>
{% endblock %}