<p>
    Bonjour {{ firstname }} {{ lastname }}
</p>

<P>
    Votre mot de passe a été modifier.
Pour vous reconnectez :
<center>
    <button class="btn text-secondary">
        <a href="/connexion" class="nav-link">
            Connectez-vous
        </a>
    </button>
</center>

</P>
<p>
    Cordialement
    <br>
    L'équipe shop
</p>

