{% extends "shared/layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}
<form>
<center>
<div class="card" style="width: 50rem;">
<div class=".border .rounded-pill">
<div class="card-body text-secondary">
<div class="container d-flex h-100">
<div class="h-100 align-items-center">
    <div class="mx-auto">
  <div class="card-body">
<div class="text-center">
<img src="http://www.leman-sans-frontiere.org//docs/upload/commun/contact.jpg" class="card-img-top" alt=""  width=50% height=50%>
   
    <h1>Formulaire de contact </h1>

 <fieldset>
                <legend>Contact</legend>
                   <input type="text" name="nom" placeholder="Nom">
                   <br></br>
                      <input type="text" name="prenom" placeholder="Prénom">
                      <br></br>
                <input type="text" name="email" placeholder="Email">
<br></br>
                <input type="text" name="télephone" placeholder="télephone">
                <br></br>
                 <textarea placeholder="Votre message"></textarea>
                    <br></br>
                    <input type="checkbox" id="tnc">
                    <label for="tnc">J'accepte les CG</label>
<br></br>
            
               <button>Envoiez le message<a href="/messageenvoie" class="nav-link"></button>
              
            </fieldset>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</center>
</form>
{% endblock %}   