{% extends "shared/layout.html.twig" %}

{% block title %}
   Contact
{% endblock %}

{% block content %}

<p>Votre message a bien était envoyé</p>
<br></br>
<p>Nous vous recontacterons bientôt</p>
{% endblock %}
