{% extends "shared/layout.html.twig" %}

{% block title %}
Bienvenue dans votre panier {{entity.name}} {{entity.prénom}}
{% endblock %}
{% block content %}
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%">
        Produit
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>

    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        Adresse
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        Livraison
    </div>
    <div class="progress-bar" role="progressbar" style="width: 25%">
        |
    </div>
    <div class="progress-bar" role="progressbar" style="width: 25%">
        Paiement
    </div>
</div>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>My E-commerce Site - Delivery Page</title>
</head>
<body>
<!-- Your content here -->

<!-- Include Sendcloud JavaScript library -->
<script src="https://cdn.sendcloud.sc/v2/js/sendcloud.js"></script>

<!-- Create a container for the delivery options -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>Delivery Options</h2>
            <div id="delivery-options"></div>
        </div>
    </div>
</div>

<!-- Initialize Sendcloud -->
<script>
    sendcloud.init({
        key: '9c26dd2020654ac9a40a3084da0114ee',
        targetId: 'delivery-options'
    });
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA


<div class="card-body"></body>
    <button class="btn text-secondary">Suivant<a href="../../public/index.php" class="nav-link"></a></button>
</div>
</div>
</body>
{% endblock %}