{% extends "shared/layout.html.twig" %}

{% block title %}
    Produit
{% endblock %}

{% block content %}

    <div class="container text-center">
        <h3>Contenu du panier :</h3>
        <div>
            {{ data }}
        </div>
    </div>

{% endblock %}