{% extends "shared/resource/detail.html.twig" %}

{% block title %}
    Catégorie
{% endblock %}

{% block content %}
<!-- affiche le nom de la catégorie et un bouton supprimer oui => qui mène vers /category/1/delete
puis on retombe dans notre CategoryController, sur la fonction delete($id)-->
    <div>
        Catégorie #{{ entity.label }}
    </div>

{% endblock %}