<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-expanded="false" aria-label="toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for key,value in navigation %}
                    <li class="nav-item"><a href="{{ value }}" class="nav-link">{{ key }}</a></li>
                {% endfor %}
            </ul>
             <button class=pull-left><a href="/connexion" class="nav-link">Connexion</a></button>
        </div>
    </div>
</nav>


