{% extends "shared/layout.html.twig" %}
{% block content %}
    <form action="" method="POST">

        <div class="nb-3">
            <label for="label" class="form-label">Libellé</label>
            <input type="text" class="form-control" id="label" name="label"/>
        </div>

        <div class="nb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>

        <div class="nb-3">
            <label for="price" class="form-label">Prix</label>
            <input class="form-control" id="price" name="price" type="number"/>
        </div>

        <div class="nb-3">
            <label for="category" class="form-label">Catégorie</label>
            <select class="form-select" name="category" id="category">
                <option value="1">Carte graphique</option>
                <option value="3">Disque dur</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" name="btnAddProduct">Ajouter</button>
    </form>
{% endblock %}