{% extends "/shared/layout.html.twig" %}

{% block title %}Authentification
{% endblock %}

{% block content %}

	<div class="container">
		<div class="d-flex">
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/67/The_Last_of_Us_Logo_2.png" class="m-auto" alt="" width="50%" height="auto"/>
		</div>
		{% if error %}
		<div class="alert alert-danger m-2 text-center">
			{{ error }}
		</div>
		{% endif %}
		<form method="POST" action="">
			<div>
				<label for="email" class="form-label">email</label>
				<input
						type="email"
						placeholder="email"
						class="form-control"
						id="email"
						name="email"
						value="{{ mail}}"
				/>

				<div>
					<label for="password" class="form-label">Password</label>
					<input
							type="password2"
							placeholder="5€CURIZ3D"
							class="form-control"
							id="password"
							name="password"
							value="{{ password }}"
					/>
				</div>
				<span>Si j'ai oubliez mon mot de passe</span>
				<a href="/lostpassword">Mot de passe oublié</a>
				<button type="submit" class="btn btn-primary mt-3">Connexion</button>
			</div>
	
		</form>
		<div class="d-flex justify-content-center">
			<div>
				<span>Si je n'ai pas de compte</span>
				<a href="/inscription">créer un compte</a>
			</div>
		</div>
	</div>

{% endblock %}