{% extends "/shared/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block content %}
	<div class="container">
		<p><img src="../../public/index.php"></p>
		<form action="?page=pageConnexion" method="post">
			<h1>Inscrition réussite</h1>
<p>Votre compte à été créer vous pouvez desormais aller pour connecter pour commencer votre shopping</p>
          
    <button><a href="/connexion" class="nav-link">Connexion</a></button>
		</form>
	</div>
{% endblock %}