{% extends "/shared/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block content %}
	<div class="container">
		<p><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/The_Last_of_Us_Logo_2.png"></p>
		<form action="?page=pageConnexion" method="post">
			<h1>Inscrition réussite</h1>
<p>Votre compte à été créer vous pouvez desormais aller pour connecter pour commencer votre shopping</p>
          
    <button><a href="http://site-ecommerce-the-last-of-us/connexion" class="nav-link">Connexion</a></button>
		</form>
	</div>
{% endblock %}