{% extends "shared/layout.html.twig" %}

{% block title %}
    Bienvenue sur le Shop !
{% endblock %}

{% block content %}

    <div class="container">
          <div class="col-6">

          </div>
    </div>

    <div class="alert alert-danger text-center">{{ message | default('Erreur inconnue.') }}</div>

{% endblock %}  