{% extends "shared/layout.html.twig" %}

{% block title %}
Bienvenue dans votre panier {{entity.name}} {{entity.prénom}}
{% endblock %}
{% block content %}
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%">
        Produit
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>

    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        Livraison
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        |
    </div>
    <div class="progress-bar bg-primary" role="progressbar" style="width: 25%">
        Paiement
    </div>
</div>

{% endblock %}